body, html {
    height: 100%;
}


.hero-image {
  
 background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./featured-image-1.webp' );
 height: 50%;
 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
#fade-text {
  opacity: 0;
  transition: opacity 1s ease-in; /* Adjust transition duration as needed */
}

#fade-text.visible {
  opacity: 1;
}
.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

.icon {
  width: 3rem;
  height: 3rem;
  border-radius: .75rem;
}

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.feature-icon-small {
  width: 4rem;
  height: 4rem;
}
#featured-3{position:relative;
top: 400px;
right:80px;}

.loading{
  height:50px;
  width:50px;
  border:6px solid rgb(255, 255, 255);
  border-radius: 4px;
  position:absolute;
  top: 10%;
  left:2%;
  translate: -50% -50%;
  z-index: 10;
  animation: 2s loading ease-in-out infinite;
}

@keyframes loading{
  0%{
      transform: rotateX(0) rotateY(0) rotateZ(0)}
   
  33%{
      transform: rotateX(180deg) rotateY(0) rotateZ(0)}

  67%{
      transform: rotateX(180deg) rotateY(180deg) rotateZ(0)}

  100%{
      transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg)}

}
.loading:hover{
  animation-play-state: paused;
}


